# Modulo 5: Fase 2 CRISP-DM: Entendimiento de los datos

In [ ]:
from IPython.display import Image
Image("../Images/crisp_dm_2.png")

In [ ]:
import pandas as pd
import MySQLdb as mdb
con=mdb.connect(user='root',database='meetup')
cursor = con.cursor()

# Clase 27. Recolectar los datos iniciales (create table, insert into)

Hola en esta clase vamos a cargar los archivos a nuestro sistema de gestión de bases de datos relacional. 

Lo primero que vamos a hacer es revisar que tipo de permisos tenemos.

In [ ]:
pd.read_sql("select host,user from mysql.user;",mariadb_connection)


Luego vamos crear las siguientes tablas: 

1. categories
2. cities
3. venues
4. topics
5. groups
6. events
7. groups_topics
8. members
9. members_topics

Debemos ser cuidadosos y seguir las especificaciones de nuestro diagrama entidad relación para cada campo.
Entonces lo primero es que debemos hacer es ir a kaggle a buscar nuestro diagrama.
Y empezamos en orden.

Antes que nada crear el esquema.

In [ ]:
cursor.execute("""create schema meetup;""")

Una vez creado el esquema de la base de datos, vamos a crear nuestra primera tabla. Si te sientes muy perdido, no te preocupes, te voy a compartir los códigos para crear las tablas.

Pero bueno empecemos.

la primera tabla es la tabla
# categories
- según nuestro diagrama entidad relación
- esta tabla tiene una llave primaria "category id" 
- cuenta con una relación 1 a muchos.. con la tabla groups.
- lo que significa.. 
- tiene tres campos del formato varchar con una longitud de 45 c/u.

In [ ]:
cursor.execute(""" drop table meetup.categories; """)

In [ ]:
cursor.execute(""" 
create table meetup.categories(
category_id INT(11) PRIMARY KEY,
category_name VARCHAR(45) ,
shortname VARCHAR(45) ,
sort_name VARCHAR(45) 
); 
""")

muy bien! ya está nuestra primera tabla, categories, ahora 
# cities

In [ ]:
cursor.execute(""" drop table meetup.cities; """)

In [ ]:
cursor.execute(""" 
create table meetup. cities(
city VARCHAR(45) ,
city_id INT(11) PRIMARY KEY,
country CHAR(2) ,
distance DECIMAL(12,3) ,
latitude DECIMAL(12,8) ,
localized_country_name VARCHAR(45) ,
longitude DECIMAL(12,8) ,
member_count INT(11) ,
ranking INT(11) ,
state CHAR(2) ,
zip INT(11) 
); 

""")

# venues

In [ ]:
cursor.execute(""" drop table meetup.venues; """)

In [ ]:
cursor.execute(""" 
create table meetup. venues(
venue_id INT(11) PRIMARY KEY,
address_1 VARCHAR(200) ,
city VARCHAR(45) ,
country CHAR(2) ,
distance DECIMAL(10,2) ,
lat DECIMAL(12,8) ,
localized_country_name VARCHAR(45) ,
lon DECIMAL(12,8) ,
venue_name VARCHAR(300) ,
rating INT(11) ,
rating_count INT(11) ,
state CHAR(3) ,
zip VARCHAR(11) ,
normalised_rating VARCHAR(11) 
); 
""")

# topics

In [ ]:
cursor.execute(""" drop table meetup.topics; """)

In [ ]:
cursor.execute(""" 
create table meetup. topics(
topic_id INT(11) PRIMARY KEY,
description VARCHAR(499) ,
link VARCHAR(99) ,
members INT(11) ,
topic_name VARCHAR(99) ,
urlkey VARCHAR(99) ,
main_topic_id INT(11) 
); 
""")

# groups

In [ ]:
cursor.execute("""
create table meetup.groups(
group_id INT(11) PRIMARY KEY,
category_id INT(11) ,
category_name VARCHAR(45) ,
category_shortname VARCHAR(45) ,
city_id INT(11) ,
city VARCHAR(45) ,
country VARCHAR(45) ,
created DATETIME,
description LONGTEXT,
group_photo_base_url VARCHAR(33) ,
group_photo_highres_link VARCHAR(99) ,
group_photo_photo_id VARCHAR(11) ,
group_photo_photo_link VARCHAR(99) ,
group_photo_thumb_link VARCHAR(99) ,
group_photo_type VARCHAR(11) ,
join_mode VARCHAR(11) ,
lat DECIMAL(12,8) ,
link VARCHAR(450) ,
lon DECIMAL(12,8) ,
members INT(11) ,
group_name VARCHAR(150) ,
organizer_member_id INT(11) ,
organizer_name VARCHAR(99) ,
organizer_photo_base_url VARCHAR(44) ,
organizer_photo_highres_link VARCHAR(99) ,
organizer_photo_photo_id VARCHAR(11) ,
organizer_photo_photo_link VARCHAR(99) ,
organizer_photo_thumb_link VARCHAR(99) ,
organizer_photo_type VARCHAR(11) ,
rating DECIMAL(4,2) ,
state CHAR(2) ,
timezone VARCHAR(65) ,
urlname VARCHAR(65) ,
utc_offset INT(11) ,
visibility VARCHAR(22) ,
who VARCHAR(99) ,
foreign key category_id_fk (category_id) references categories (category_id), 
foreign key city_id_fk (city_id) references cities (city_id) 
); 
""")

# events

In [ ]:
cursor.execute(""" drop table meetup.events;""")

In [ ]:
cursor.execute("""
create table meetup. events(
event_id VARCHAR(75) PRIMARY KEY,
created DATETIME,
description LONGTEXT,
duration INT(11) ,
event_url VARCHAR(250) ,
fee_accepts VARCHAR(11) ,
fee_amount VARCHAR(11) ,
fee_currency VARCHAR(11) ,
fee_description VARCHAR(20) ,
fee_label VARCHAR(11) ,
fee_required VARCHAR(11) ,
group_created VARCHAR(20) ,
group_group_lat VARCHAR(11) ,
group_group_lon VARCHAR(22) ,
group_id INT(11) ,
group_join_mode VARCHAR(11) ,
group_name VARCHAR(99) ,
group_urlname VARCHAR(99) ,
group_who VARCHAR(45) ,
headcount INT(11) ,
how_to_find_us VARCHAR(250) ,
maybe_rsvp_count INT(11) ,
event_name VARCHAR(95) ,
photo_url VARCHAR(99) ,
rating_average INT(1) ,
rating_count INT(2) ,
rsvp_limit INT(11) ,
event_status VARCHAR(8) ,
event_time DATETIME,
updated DATETIME,
utc_offset INT(11) ,
venue_address_1 VARCHAR(45) ,
venue_address_2 VARCHAR(45) ,
venue_city VARCHAR(22) ,
venue_country VARCHAR(11) ,
venue_id INT(11) ,
venue_lat VARCHAR(11) ,
venue_localized_country_name VARCHAR(11) ,
venue_lon VARCHAR(22) ,
venue_name VARCHAR(99) ,
venue_phone LONGTEXT ,
venue_repinned INT(11) ,
venue_state VARCHAR(11) ,
venue_zip INT(11) ,
visibility VARCHAR(11) ,
waitlist_count INT(11) ,
why VARCHAR(11) ,
yes_rsvp_count INT(11) ,
foreign key groups_id_fk3 (group_id) references groups (group_id), 
foreign key venue_id_fk (venue_id) references venues (venue_id) 
); 
""")

# groups_topics

In [ ]:
cursor.execute("""drop table meetup.groups_topics""")

Hay un tema y es que el topic_id no puede ser un foreign key, contradiciendo lo que dice el EER diagram porque tiene entradas duplicadas así que vamos a comentariar esa parte en dónde declaramos el topic_id como un foreign key.

In [ ]:
cursor.execute("""
create table meetup.groups_topics(
topic_id INT(11) ,
topic_key VARCHAR(60) ,
topic_name VARCHAR(60) ,
group_id INT(11) ,
#foreign key topic_id_fk2 (topic_id) references topics (topic_id), 
foreign key group_id_fk2 (group_id) references groups (group_id) 
); 
""")

# members

Si queremos borrar la tabla members y ya habíamos creado la tabla members_topics tenemos que borrar la tabla members_topics antes.

In [ ]:
cursor.execute("""drop table meetup.members;""")

Encontramos otra inconsistencia del diagrama entidad relación, el campo "member_id" no puede ser un primary key, porque tiene duplicados y uno de las claves en SQL es que no tengamos duplicados.

In [ ]:
cursor.execute("""
create table meetup.members(
member_id INT(11), 
bio LONGTEXT ,
city VARCHAR(45) ,
country CHAR(2) ,
hometown VARCHAR(45),
joined DATETIME ,
lat DECIMAL(12,8) ,
link VARCHAR(200) ,
lon DECIMAL(12,8) ,
member_name VARCHAR(45) ,
state CHAR(2) ,
member_status VARCHAR(45) ,
visited DATETIME ,
group_id INT(11) 
)
CHARACTER SET utf8 COLLATE utf8_general_ci
; 
""")

# members topics

In [ ]:
cursor.execute("""drop table meetup.members_topics;""")

In [ ]:
cursor.execute("""
create table meetup.members_topics(
topic_id INT(11) ,
topic_key VARCHAR(99) ,
topic_name VARCHAR(99) ,
member_id INT(11) ,
foreign key topic_id_fk (topic_id) references topics (topic_id) 
#,foreign key member_id_fk (member_id) references members (member_id) 
); 
""")

# Clase 28. Cargue de los datos (por interfáz gráfica)

In [ ]:
Image("../Images/erdiagram.png")
Image("../Images/dbeaver_21.png")

# Clase 29. Cargue de los datos (load data infile)
* 1 categories
* 2 cities
* 3 venues
* 4 topics
* 5 groups
* 6 events
* 7 groups_topics
* 8 members
* 9 members_topics

In [ ]:
path='"C:/Users/Usuario/Documents/MAD_meetup/src/input_raw/meetups-data-from-meetupcom/'

# categories

In [ ]:
cursor.execute("""
load data infile """+path+"""categories.csv" 
into table meetup.categories
fields
terminated by ','
enclosed by '"'
lines
terminated by '\n'
ignore 1 lines
;

""")

# cities

In [ ]:
cursor.execute("""
load data infile """+path+"""cities.csv" 
into table meetup.cities
fields
terminated by ','
enclosed by '"'
lines
terminated by '\n'
ignore 1 lines
;

""")

# venues

In [ ]:
cursor.execute("""
load data infile """+path+"""venues.csv" 
into table meetup.venues
fields
terminated by ','
enclosed by '"'
lines
terminated by '\n'
ignore 1 lines
;

""")

# topics

In [ ]:
cursor.execute("""
load data infile """+path+"""topics.csv" 
into table meetup.topics
fields
terminated by ','
enclosed by '"'
lines
terminated by '\n'
ignore 1 lines
;

""")

# groups

In [ ]:
cursor.execute("""
load data infile """+path+"""groups.csv" 
into table meetup.groups
fields
terminated by ','
enclosed by '"'
lines
terminated by '\n'
ignore 1 lines
;

""")

# events

In [ ]:
cursor.execute("""
load data infile """+path+"""events.csv" 
into table meetup.events
fields
terminated by ','
enclosed by '"'
lines
terminated by '\n'
ignore 1 lines
;

""")

# groups_topics

In [ ]:
cursor.execute("""
load data infile """+path+"""groups_topics.csv" 
into table meetup.groups_topics
fields
terminated by ','
enclosed by '"'
lines
terminated by '\n'
ignore 1 lines
;

""")

# members

https://en.wikipedia.org/wiki/Specials_(Unicode_block)

hay un problema y tenemso que eliminar los caracteres specials desde vscode replace � with ''

In [ ]:
cursor.execute("""
load data infile """+path+"""members.csv" 
into table meetup.members
fields
terminated by ','
enclosed by '"'
lines
terminated by '\n'
ignore 1 lines
;
""")

Es probable que tenga que cargarla desde dbeaver, pq desde acá me deja la tabla vacía.

# members_topics

In [ ]:
cursor.execute("""
load data infile """+path+"""members_topics.csv" 
into table meetup.members_topics
fields
terminated by ','
enclosed by '"'
lines
terminated by '\n'
ignore 1 lines
;
""")

In [ ]:
pd.read_sql("select * from information_schema.tables where `TABLE_SCHEMA`='meetup';",con)